{% extends 'frontend/master.html' %}

{% block content %}

{% include 'frontend/partials/mainslider.html' %}
{% include 'frontend/partials/brands.html' %}
{% include 'frontend/partials/feature.html' %}
{% include 'frontend/partials/category.html' %}
{% include 'frontend/partials/calltoaction.html' %}
{% include 'frontend/partials/featuredproduct.html' %}
{% include 'frontend/partials/newsletter.html' %}
{% include 'frontend/partials/recentproduct.html' %}
{% include 'frontend/partials/review.html' %}


{% endblock %}

