
<!-- Modal -->
{% load static %}
{% load widget_tweaks %}
<div class="modal fade" id="registrationmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="registrationmodalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="text-center">
            <h5 class="modal-title " id="registrationmodalLabel">Create an account</h5>
        </div>

        <button type="button" class="btn-close" data-dismiss="modal"></button>
      </div>
      <div class="modal-body">

          <form action="registration" method="post">

              {% for foo in form %}
              {{ foo.label_tag }}{{ foo }} {{ foo.error|striptags }} <br>
              {% endfor %}

              <div class="d-flex justify-content-center">
              <button type="submit"class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" id="registrationSubmit">Register</button>
              </div>

             </form>
                  <div class="text-center">
                        <p>or sign up with:</p>
                        <button type="button" class="btn btn-link btn-floating mx-1">
                          <i class="fab fa-facebook-f"></i>
                        </button>

                        <button type="button" class="btn btn-link btn-floating mx-1">
                          <i class="fab fa-google"></i>
                        </button>

                        <button type="button" class="btn btn-link btn-floating mx-1">
                          <i class="fab fa-twitter"></i>
                        </button>

                        <button type="button" class="btn btn-link btn-floating mx-1">
                          <i class="fab fa-github"></i>
                        </button>
                  </div>
      </div>
    </div>
  </div>
</div>
